/* body {
  background-color: #da9f5b;
  font-family: "Arial", sans-serif;
}

.logo {
  width: 120px;
}

.list-group-item {
  background-color: #6b4226;
  color: white;
  border: none;
  margin-bottom: 10px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.list-group-item:hover {
  background-color: #57371e;
}

.text-muted {
  color: #8e8e8e;
} */
