/* Styling responsif untuk layar kecil */
@media (max-width: 576px) {
  .carousel-text-primary {
    font-size: 1rem; /* Ukuran lebih kecil */
  }
  .carousel-text-main {
    font-size: 2rem; /* Ukuran lebih kecil */
  }
  .carousel-text-sub {
    font-size: 0.8rem; /* Ukuran lebih kecil */
  }
  .carousel-text-secondary {
    font-size: 1rem; /* Ukuran lebih kecil */
  }
}
